<!DOCTYPE html>
<html xmlns:th="http://www.theymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Standings</title>
</head>
<body>
<h1>順位表</h1>
<hr>
<a href="/matches">試合一覧</a>&nbsp;<a href="/new_match">試合登録</a>
<hr>
<table border="1">
<tr>
	<th> </th>
	<th>チーム</th>
	<th>勝点	</th>
	<th>勝</th>
	<th>分</th>
	<th>敗</th>
	<th>得</th>
	<th>失</th>
	<th>差</th>
<tr th:each="standing, state: ${standings}">
	<td th:text="${state.count}"></td>
	<td th:text="${standing.team}"></td>
	<td th:text="${standing.pts}"></td>
	<td th:text="${standing.wins}"></td>
	<td th:text="${standing.draws}"></td>
	<td th:text="${standing.loses}"></td>
	<td th:text="${standing.goalsFors}"></td>
	<td th:text="${standing.goalsAgainsts}"></td>
	<td th:text="${standing.goalsDifference}"></td>
</tr>
</table>
</body>
</html>